{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}

<div class="container">

    <div class="jumbotron m-5" style="background-color: #343A40">

        <h1 class="display-4">Free Tech Books Market</h1>

        <p class="lead">
            This site lists free download computer science, software engineer and programming books, textbooks and
            lecture
            notes,
            cheat sheet,
            all of which are freely available.
        </p>

        <hr class="my-4">
        
        
        <p>Download tech books for free</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('auth.signin') }}" role="button">
                <i class="fa-solid fa-books"></i> Get Started
            </a>
        </p>
    

    </div> 

</div>

{% endblock %}