{% extends 'base.html' %}

{% block title %}
login page
{% endblock %}

{% block content %}
<div class="container m-5">
    <h2 class="text-center mb-5">Welcome Back 👋</h2>
    <form method="POST" class="form-register m-auto" style="color: #fff; width: 500px">

        {{ form.hidden_tag() }}

        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="User Name") }}

        {{form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password") }}

        <br>

        <div class="checkbox mb-3">
            <h6>Do not you have an account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('register') }}">Register</a>
        </div>

        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

    </form>
</div>
{% endblock %}